

header{
    background-image: url('assets/home-header.jpg');
    background-repeat: no-repeat;
    background-size: center;
    height: 700px;
    width: 100%;
    max-width: 1440px;
    position: relative;

}


