



img{
    width: 100%;
}


header {
    background-image: url('assets/home-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin:0;
    
}


.feature{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.cruiseship {
    width: 50%;
    position:absolute;
    right:0;
    bottom:-120px;
    width:50%;

    img{
        max-width: 1000px;
    }
    
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
footer {
    margin: 0 auto;
    width: 100vw;
}

// section-1 styles

.section-1{
    padding:120px 0;
    margin: 0 auto;


    .flexContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:80px 0;
        }

        .flexItem{
            width: 50%;
            margin-bottom: 50px;
            flex: 1 0 550px;
            
            }

            h2{
                display: inline-block;
            }

}

.flexItem p{
    margin-left: 50px;
}

.pin{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:$colorBtn;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    


    i{
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 12px;

    }

}

.item2 i{
    right:8px;
}

// section-2 styles

.section-2{
    background-color: $primaryColor;

    .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position:relative;

        .box{
            width: 50%;
            position: relative;

            p{
                color:$secondaryColor;

            }
        }
    }

}

.locations{
    text-align: right;
    padding: 50px 150px;

    p{
        text-align: left;
    }
}

.programs{
    padding-left: 120px;
    padding-top: 100px;
    padding-right: 170px;
}

.bow {
    padding-left: 150px;
}

.bow img{
    box-shadow: -17px 17px $colorBtn;
    bottom:-110px;
    position: relative;
}

.yacht {
    padding-right: 150px;
}

.yacht img{
    box-shadow: 17px 17px $colorBtn;
    top:-50px;
    position: relative;

}



// section-3 styles


.section-3{
    text-align: center;
    padding:150px 0 100px 0;

    p{
        text-align: left;
    }
}



// section-5 styles

.winTrip{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 120px 0;
    

    .aside{
        flex: 1 0 400px;
        padding-right: 100px;
        

        img{
           box-shadow: -17px 17px $colorBtn;
           padding-top: 30px;
           margin-bottom: 40px;
        }
    }
}

.info{
    width: 60%;
    flex: 1 0 auto;
}



// section-6 styles

.section-6{
    background-color: $primaryColor;
    padding:80px 0;

    .gallery{
        display: flex;
        flex-wrap:wrap;
        width:100%;
        justify-content: space-between;
    
        .galleryItem{
            flex:0 1 auto;
            width:32%;
            
        }
    }

}


// footer styles

footer{
    background-color: $colorBtn;
    text-align: center;
    color:$primaryColor;
    padding:10px 0;
}




// media Queries

@media(max-width:1200px){

    header nav {
    justify-content: center;
    
        li {
            padding-bottom:100px;

            a {
            padding: 0 40px;
            
            }
        }
    }
    
    .feature{
        width: 100%;
        display: block;
        text-align: center;
        padding-top:150px;
    }


    .cruiseship {
        display: none; 
    }

    .section-1,
    .section-3 {
        padding: 40px 0;
        text-align: center;
    }

    .flexItem {
        text-align: center;

        p{
            margin:0;
        }
    }

    .section-2 .container {
        padding:0;
        
        .box {
            width: 100%;
            text-align: center;
            padding:40px;
        }
    }

    .yacht,
    .bow{
        padding-bottom: 40px;
    }

    .section-2 img {
        width: 600px;
        position: static;
    }

    .locations p,
    .section-3 p {
        text-align: center;

    }
    
    .winTrip {
        padding: 80px 0;
        text-align: center;
        padding-right:0;
        

        .aside {
            padding: 50px 100px;
        }
    }

    .galleryItem{
        width: 100%;
        margin:0 auto;
        padding-bottom: 30px;
        
        img{
            width: 100%;
            display:block;   
        }
    }
}


@media(max-width:768px){

    header nav li a {
        padding: 0 30px;
    }

    .section-1 .flexContainer {
        display: block;
    }
    .section-1 .flexItem {
        width: 100%;
    }

    .section-6 .gallery .galleryItem  {
        width:400px;   
    }
}


@media (max-width:600px){
    
    header nav li {
        padding-bottom: 50px;
    }

}


