@import 'setup';
@import 'variables';
@import 'home';
@import 'blog';
@import 'contact';



html{
    font-size: 62.5%;
}

body{ 
    background-color: $lightColor;
    max-width: 2000px;
    margin: 0 auto;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    padding:0;
}


h1,
h2,
h3,
h4{
    text-transform: uppercase;
}

h1{
    font-family: $baseFont;
    font-size:7.9rem;
    color:$colorBtn;

}

h2{
    font-family: $baseFont;
    font-size: 4.5rem;
    color:$primaryColor;
    line-height:99.8px;
}

h3{
    font-family: $baseFont;
    font-size: 4rem;
    line-height: 58px;
    letter-spacing: 1.3px;
    color:$secondaryColor;

}


h4{
    font-family: $baseFont;
    font-size: 2.5rem;
    line-height: 58px;
    letter-spacing: 0.8px;
    color:$colorBtn;

}

p,
h5{
    font-family: $secondaryFont;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;

}


img{
    max-width: 100%;
    padding:0;
    margin:0;
}


button{
    padding:17px;
    color: $primaryColor;
    font-family: $baseFont;
    font-size: 2.4rem;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;
    border:none;
    background-color:$colorBtn;
    text-transform: uppercase;
}

button:hover,
button:focus{
    color:$secondaryColor;
    background-color:#042259;
}




nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

    li{
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        line-height: 29px;
        letter-spacing: 1px;
        display: inline-block;
        text-transform: capitalize;
        margin:0 auto;
        padding: 50px 0;
          
    

        a{
            text-decoration: none;
            color:$secondaryColor;
            padding-right:50px;
            
        }

    }
}


a:hover span{
    border-bottom: 3px solid $colorBtn;
    padding-bottom: 5px;
    
}

