a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background-image: url("assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
}

.feature {
  width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cruiseship {
  width: 50%;
}

.cruiseship img {
  position: absolute;
  right: 0;
  top: 23%;
  width: 60%;
}

.section-1 {
  padding: 120px 0;
}

.section-1 .flexContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.section-1 .flexItem {
  width: 50%;
  margin-bottom: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 550px;
          flex: 1 0 550px;
}

.section-1 h2 {
  display: inline-block;
}

.flexItem p {
  margin-left: 50px;
}

.pin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FDD908;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.pin i {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 12px;
}

.item2 i {
  right: 8px;
}

.section-2 {
  background-color: #0D457F;
  width: 100%;
  position: relative;
}

.section-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
}

.section-2 .container .box {
  width: 50%;
}

.section-2 .container .box p {
  color: #FFFFFF;
}

.locations {
  text-align: right;
  padding-right: 100px;
  padding-top: 50px;
}

.locations p {
  text-align: left;
}

.programs {
  padding-left: 100px;
}

.section-2 img {
  width: 43%;
  -webkit-box-shadow: 17px 17px #FDD908;
          box-shadow: 17px 17px #FDD908;
  position: absolute;
}

.bow img {
  -webkit-box-shadow: -17px 17px #FDD908;
          box-shadow: -17px 17px #FDD908;
  right: 0;
  bottom: -50px;
}

.yacht img {
  left: 0;
  top: -50px;
}

.section-3 {
  text-align: center;
  padding: 100px 0;
}

.section-3 p {
  text-align: left;
}

.section-4 {
  width: 100vw;
}

.winTrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 120px 0;
}

.winTrip .aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}

.winTrip .aside img {
  -webkit-box-shadow: -17px 17px #FDD908;
          box-shadow: -17px 17px #FDD908;
  width: 400px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.info {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.section-6 {
  background-color: #0D457F;
  padding: 80px 0;
}

.section-6 .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-6 .gallery .galleryItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 400px;
}

footer {
  background-color: #FDD908;
  text-align: center;
  color: #0D457F;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  header {
    height: auto;
  }
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav li {
    padding-bottom: 100px;
  }
  header nav li a {
    padding: 0 40px;
  }
  .feature {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding-top: 50px;
  }
  .cruiseship {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
  }
  .cruiseship img {
    position: static;
    margin: 0 auto;
    display: block;
    width: 600px;
  }
  .section-1,
  .section-3 {
    padding: 40px 0;
    text-align: center;
  }
  .flexItem {
    text-align: center;
  }
  .flexItem p {
    margin: 0;
  }
  .section-2 .container {
    padding: 0;
  }
  .section-2 .container .box {
    width: 100%;
    text-align: center;
    padding: 40px 0;
  }
  .yacht,
  .bow {
    padding-bottom: 40px;
  }
  .section-2 img {
    width: 600px;
    position: static;
  }
  .locations p,
  .section-3 p {
    text-align: center;
  }
  .winTrip {
    padding: 80px 0;
    text-align: center;
  }
  .galleryItem {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .galleryItem img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  header nav li a {
    padding: 0 30px;
  }
  header h1 {
    font-size: 7rem;
  }
  .feature {
    width: 100%;
    padding-top: 40px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  header nav li {
    padding-bottom: 50px;
  }
  .cruiseship img {
    width: 450px;
  }
}

.blog .section-1 {
  padding-top: 120px;
  padding-bottom: 20px;
}

.blog header {
  background-image: url("assets/blog-header.jpg");
  background-size: cover;
}

.blog header h1 {
  color: #FFFFFF;
}

.blog .feature {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageLeft {
  width: 100%;
  position: absolute;
  top: -30px;
}

.imageLeft img {
  width: 84%;
}

.blog .section-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerAside {
  width: 40%;
  position: relative;
}

.containerAside .aside {
  width: 70%;
  padding: 455px 30px 30px 30px;
  background-color: #0D457F;
  margin: 0 100px;
}

.containerAside .aside p {
  color: #FFFFFF;
}

.aside .recentPosts {
  padding-top: 40px;
}

.aside .recentPosts li {
  list-style-type: disc;
  list-style-position: inside;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

.containerContent {
  width: 60%;
  border-bottom: 3px solid #FDD908;
  border-left: 3px solid #FDD908;
  position: relative;
}

.containerContent .content {
  padding: 430px 80px 80px 80px;
}

.containerContent .content .nextDestination p {
  margin: 20px 0;
}

.imageRight {
  position: absolute;
  top: -210px;
}

.imageRight img {
  -webkit-box-shadow: -17px 17px #FDD908;
          box-shadow: -17px 17px #FDD908;
}

.wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.containerComments {
  width: 60%;
  padding: 80px;
}

.containerComments h3 {
  color: #0D457F;
}

h5 {
  font-weight: bold;
  color: #0D457F;
}

.comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.comment .imageComment {
  width: 15%;
}

.comment img {
  width: 100%;
}

.comment .text {
  width: 85%;
  padding-left: 40px;
}

form {
  width: 60%;
  padding: 20px 80px;
}

form button {
  width: 100%;
  padding: 10px;
  color: #FDD908;
  background-color: #0D457F;
}

input {
  width: 46%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #EAFEFC;
  padding: 0 30px;
}

input[type="text"][class="name"] {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

input[type="text"] {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

textarea {
  width: 100%;
  border: 2px solid #FDD908;
  background-color: #EAFEFC;
  padding: 30px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

label {
  display: none;
}

@media (max-width: 1200px) {
  .blog header {
    height: 100vh;
  }
  .blog .feature {
    height: 100vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .containerAside {
    width: 100%;
    position: static;
  }
  .containerAside .aside {
    padding: 30px;
    margin: 40px auto;
    width: 82%;
  }
  .imageLeft {
    width: 82%;
    position: static;
    display: block;
    margin: 0 auto;
  }
  .imageLeft img {
    width: 100%;
  }
  .containerContent {
    width: 100%;
    position: static;
    border: none;
  }
  .containerContent .imageRight {
    position: static;
    width: 82%;
    margin: 0 auto;
    display: block;
  }
  .containerContent .content {
    padding: 80px;
  }
  .containerComments {
    width: 100%;
    padding: 80px;
    padding-top: 0;
  }
  .containerComments .comment {
    width: 100%;
    padding: 30px 0;
  }
  .wrapper-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    width: 100%;
    padding: 80px;
  }
}

@media (max-width: 768px) {
  .blog form input {
    width: 100%;
    height: 80px;
    padding: 10px;
  }
  .blog form textarea {
    padding: 10px;
  }
  .containerComments {
    width: 100%;
    padding: 30px 80px;
  }
  .containerContent .content {
    padding: 30px 80px;
  }
}

@media (max-width: 600px) {
  .blog nav {
    display: none;
  }
  .blog h1 {
    padding-top: 200px;
  }
  .imageLeft {
    width: 100%;
  }
  .containerAside .aside {
    width: 100%;
  }
  .containerContent .content {
    padding: 30px;
  }
  .containerContent .imageRight {
    width: 100%;
  }
  .nextDestination {
    width: 100%;
  }
  .nextDestination h2 {
    font-size: 3.5rem;
  }
  .containerComments {
    width: 100%;
    padding: 30px;
  }
  .blog form {
    padding: 30px;
  }
}

.contact header {
  background-image: url("assets/contact-header.jpg");
  background-size: cover;
  background-position: center;
}

.contact header h1 {
  color: #FFFFFF;
}

.contact .feature {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact aside {
  width: 50%;
  text-align: left;
}

.contact aside i {
  font-size: 3rem;
  padding: 50px 25px 25px 0;
  color: #0D457F;
}

.contact aside p:first-of-type {
  padding-bottom: 40px;
}

.contact i:hover {
  color: #FDD908;
}

.contact .section-1 {
  position: relative;
  padding: 100px 100px 200px 150px;
}

.formContact {
  background-color: #0D457F;
  position: absolute;
  top: -130px;
  right: 18px;
  -webkit-box-shadow: 17px 17px #FDD908;
          box-shadow: 17px 17px #FDD908;
  padding-top: 80px;
}

.formContact button {
  width: 100%;
  padding: 10px;
  color: #0D457F;
  background-color: #FDD908;
  border: 2px solid transparent;
}

.formContact button:hover {
  color: #FDD908;
  background-color: #0D457F;
  border: 2px solid #FDD908;
}

.formContact input {
  background-color: #0D457F;
  color: #FFFFFF;
}

.formContact input[type="text"][class="name"] {
  font-family: "Roboto", sans-serif;
}

.formContact input::-webkit-input-placeholder,
.formContact textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

.formContact input:-ms-input-placeholder,
.formContact textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

.formContact input::-ms-input-placeholder,
.formContact textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #FFFFFF;
}

.formContact textarea {
  color: #FFFFFF;
  background-color: #0D457F;
}

.formContact label {
  display: none;
}

@media (max-width: 1200px) {
  .contact .section-1 {
    padding: 50px;
  }
  .contact header {
    height: 100vh;
  }
  .contact aside {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .formContact {
    position: static;
    width: 100%;
  }
  .contact form input {
    width: 100%;
    height: 80px;
    padding: 10px;
  }
  .contact form textarea {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .contact nav {
    display: none;
  }
  .contact h1 {
    padding-top: 100px;
  }
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  background-color: #EAFEFC;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  color: #FDD908;
}

h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  color: #0D457F;
  line-height: 99.8px;
}

h3 {
  font-family: "IM Fell English", serif;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  color: #FFFFFF;
}

h4 {
  font-family: "IM Fell English", serif;
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
  color: #FDD908;
}

p,
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

button {
  padding: 17px;
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 2.4rem;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
  border: none;
  background-color: #FDD908;
  text-transform: uppercase;
}

button:hover,
button:focus {
  color: #FFFFFF;
  background-color: #042259;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav li {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: capitalize;
  margin: 0 auto;
  padding: 50px 0;
}

nav li a {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 50px;
}

a:hover span {
  border-bottom: 3px solid #FDD908;
  padding-bottom: 5px;
}
